<form [formGroup]="bookForm" (ngSubmit) = "onSubmit()" >

    <div>
        <label for="title"> Title</label>
        <input id="title" type="text" formControlName="title">
         <div *ngIf="title?.invalid && title?.touched"  class="alert alert-danger" >
            Title is required and must be at least 4 letters
        </div>     
    </div>
    <div>
        <label for="year_written"> Year Written</label>
        <input id="year_written" type="text" formControlName="year_written">
         <div *ngIf="year_written?.invalid && year_written?.touched"  class="alert alert-danger" >
            Error in year written
        </div>  
    </div>
    
    <button type="submit" [disabled]= "!bookForm.valid">Submit</button>
    
    </form>
